@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.button-primary {
    @apply border border-secondary text-secondary rounded p-2 hover:cursor-pointer hover:text-white hover:bg-secondary transition-all
}

.button-error {
    @apply border border-red-400 text-red-400 rounded p-2 hover:bg-red-400 hover:text-white hover:cursor-pointer transition-all
}

@theme {
    --color-primary: #1a1b39;
    --color-secondary: #5d58e1;
    --color-tertiary: #313074;
}